{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
            <h2 class="m-2">
                <strong>{% blocktrans %}{{ content }}{% endblocktrans %}</strong>
            </h2>
            <p class="m-2">{% blocktrans %}{{ text_on_page }}{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}



