{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "deps/css/index.css" %} ">
{% endblock %}

{% block content %}
<div class="products-container">

    {% tag_categories as categories %}

    {% for category in categories %}
<div class="category-block">
    <a class="category-name" href="{% url 'catalog:index' category.slug %}">
        {{ category.name }}
    </a>

    <div class="category-products">
        {% for product in products|filter_by_category:category.id %}
            <div class="card product-card-index">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'images/no-image.png' %}" class="card-img-top" alt="Нет изображения">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-truncate">{{ product.name }}</h5>
                    {% if product.discount %}
                        <p class="card-text"><s>{{ product.price }}$</s> <strong>{{ product.sell_price }}$</strong></p>
                        <span class="badge bg-warning text-dark">-{{ product.discount }}%</span>
                    {% else %}
                        <p class="card-text"><strong>{{ product.price }}$</strong></p>
                    {% endif %}
                    <a href="{% url 'catalog:product' product.slug %}" class="btn btn-dark mt-auto">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'catalog:index' category.slug %}" class="btn btn-secondary btn-sm mt-2 float-end">
        Показать все
    </a>
</div>
{% endfor %}


</div>
{% endblock %}
