{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Новый пароль" %}{% endblock %}

{% block content %}
    <div class="container mt-5" style="max-width: 450px;">
      <h3 class="mb-4 text-center">{% trans "Введите новый пароль" %}</h3>
    
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100 mt-3">
          {% trans "Сохранить пароль" %}
        </button>
      </form>
    </div>
{% endblock %}
