{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'deps/css/product.css' %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow position-relative">

        <!-- Кнопка закрытия карточки -->
        <div class="top-right-btn position-absolute top-0 end-0 m-2">
            <a href="{{ request.GET.next|default:request.META.HTTP_REFERER }}" class="btn-close" aria-label="Закрыть"></a>
        </div>

        <div class="row">
            <!-- Изображения -->
            <div class="col-md-6 product-images">
                <!-- Миниатюры -->
                <div class="thumbnails">
                    {% for img in images %}
                        <img src="{{ img.image.url }}" class="img-thumbnail" alt="{{ product.name }}" onclick="changeMain(this)">
                    {% endfor %}
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-thumbnail" alt="{{ product.name }}" onclick="changeMain(this)">
                    {% endif %}
                    {% if not images and not product.image %}
                        <img src="{% static 'images/no-image.png' %}" class="img-thumbnail" alt="Нет изображения">
                    {% endif %}
                </div>

                <!-- Главное изображение -->
                <div class="main-image">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-thumbnail" 
                            data-bs-toggle="modal" data-bs-target="#imageModal1"
                            id="mainProductImage" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/no-image.png' %}" class="img-thumbnail" 
                        data-bs-toggle="modal" data-bs-target="#imageModal" 
                        id="mainProductImage" alt="Нет изображения">
                    {% endif %}
                </div>
            </div>

            <!-- Описание товара -->
            <div class="col-md-6">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                {% if product.quantity == 0 %}
                <p class="product-quantity text-danger">Нет в наличии</p>
                {% else %}
                <p class="product-quantity text-success">В наличии: {{ product.quantity }} шт.</p>
                {% endif %}

                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">Цена: <strong>{{ product.sell_price }} $</strong></p>
                
                <p class="card-text">
                    {% autoescape off %}
                        {{ product.description|highlight:query|safe }}
                    {% endautoescape %}
                </p>

                {% if product.quantity > 0 %}
                <a href="{% url 'cart:cart_add' %}" 
                   class="btn btn-dark add-to-cart"
                   data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину
                </a>
                {% endif %}
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">
                                {% autoescape off %}{{ product.name|highlight:query|safe }}{% endautoescape %}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <img id="modalImage" src="{{ product.image.url }}" class="img-fluid" alt="Изображение 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function changeMain(imgElement) {
        const mainImg = document.getElementById('mainProductImage');
        const modalImg = document.getElementById('modalImage');
    
        mainImg.src = imgElement.src;
        modalImg.src = imgElement.src;
    
        document.querySelectorAll('.thumbnails img').forEach(el => el.classList.remove('active'));
        imgElement.classList.add('active');
    }

</script>
{% endblock %}
